@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

:root {
    font-family: "Gaegu", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #faf5ec;
    width: 100vw;
    overflow-x: hidden;
}


header {
    width: 100%;
    height: 5rem;
    /* background-color: cornflowerblue; */
    border: 3px solid #f7a0b8;
    background-color: #faf5ec;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;

    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    width: 3.5rem;
    height: 3.5rem;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.2rem;
}

header nav .nav-item {
    color: #e6829f;
    font-size: 1.35rem;
    text-decoration: underline wavy 1.5px #f7a0b8;
}

header a {
    text-decoration: none;
    color: black;
}


#hero {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    align-items: center;
    padding: 5rem 6rem;
    /* background-color: aqua; */
    /* border-bottom: 3px dashed #f7a0b8; */
}

#hero .hero-profile {
    height: 25rem;
    width: 25rem;
    /* background-color: red; */
}

#hero .hero-profile img {
    height: 100%;
    width: 100%;
}

/*👉#hero .hero-text {
    ➡ margin-right: -2rem; ⬅
    ➡ background-color: cornflowerblue; ⬅
}👈*/

#hero .hero-text h2 {
    font-size: 3rem;
    /* color: #695347; */
    color: #5e7a53;
}

#hero .hero-text h1 {
    font-size: 6rem;
    color: #f7a0b8;
}


#about {
    background: url('./assets/bg.jpg');
    padding: 2rem;
}

.section-title {
    font-size: 5rem;
    color: #e6829f;
    text-decoration: underline wavy 2px #f7a0b8;
    text-align: center;
}

#about .about-text {
    width: 65%;
    background-color: #f7a0b8;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem 2.5rem;
    text-align: justify;
    font-size: 1.3rem;
    color: #faf5ec;
}

#about .about-text a {
    text-decoration: underline wavy 1.5px #5e7a53;
    color: #5e7a53;
}


#skills {
    padding: 4rem;
}

#skills h1 {
    color: #f7a0b8;
}

#skills .skills-row {
    width: 65%;
    margin: 0 auto;
    margin-top: 5rem;
    /* background-color: cornflowerblue; */
    
    padding: 1rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );

    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

#skills .skills-row ul {
    min-width: 100%;
    list-style-type: none;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    /* padding-right: 1rem; */

    /* animation: scroll 20s linear infinite; */
}

#skills .skills-row.row1 ul {
    animation: scroll-1 20s linear infinite;
}

#skills .skills-row.row2 ul {
    transform: translateX(calc(-100% - 1rem));
    animation: scroll-2 20s linear infinite;
}

#skills .skills-row.row1:hover ul {
    animation-play-state: paused;
}

#skills .skills-row.row2:hover ul {
    animation-play-state: paused;
}


@keyframes scroll-1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

@keyframes scroll-2 {
    from {
        transform: translateX(calc(-100% - 1rem));
    }
    to {
        transform: translateX(0);
    }
}

#skills .skills-row ul li {
    width: 10rem;
    height: 10rem;
    background-color: #f4ead9;
    /* background-color: #f5ecdd; */
    /* background-color: #e6829f; */
    border-radius: 5px;
    padding: 2rem;
    color: #f7a0b8;

}

#skills .skills-row ul li img {
    /* fill: #5e7a53;    DOES NOT WORK --> EDIT IN SVg FILE!!!!!! */
    height: 100%;
    width: 100%;
}


/* blur code (blur the edges of the wrapper 

mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );

*/




#projects {
    /* background-color: aqua; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#projects #project-grid {
    width: 100%;
    height: 30rem;
    margin-top: 4rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* gap: 0px; */
}

#project-grid .project {
    /* overflow: hidden; */
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    text-wrap: pretty;
    font-size: 1.5rem;
    color: #e6829f;
}

#project-grid .project h2 {
    color: #cf476d;
    text-decoration: underline wavy 2px #cf476d;
}

#project-grid .project a {
    color: inherit;
    text-decoration: none;
    /* text-decoration: underline wavy 2px #f4ead9; */
}

/*👉#project-grid .project img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 0;
    user-select: none;
}👈*/


#project-grid .project1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    /* background-color: red; */

    background: url('./assets/projects-img/bg1.jpg');
    background-size: cover;
}

#project-grid .project2 {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    /* background-color: orange; */

    background: url('./assets/projects-img/bg2.jpg');
    background-size: cover;
}

#project-grid .project3 {
    grid-column-start: 3;
    grid-row-start: 2;
    /* background-color: yellow; */

    background: url('./assets/projects-img/bg6.jpg');
    background-size: cover;
}

#project-grid .project4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
    /* background-color: green; */

    background: url('./assets/./projects-img/bg3.jpg');
    background-size: cover;
}

#project-grid .project5 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    /* background-color: skyblue; */

    background: url('./assets/projects-img/bg7.jpg');
    background-size: cover;
}

#project-grid .project6 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    /* background-color: blue; */

    background: url('./assets/projects-img/bg4.jpg');
    background-size: cover;
}

#project-grid .project7 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
    /* background-color: violet; */

    background: url('./assets/projects-img/bg5.jpg');
    background-size: cover;
}


.hover-content {
    width: 25rem;
    padding: 0.75rem 1rem;
    background-color: #faf5ec;
    border: 3.5px solid #f7a0b8;
    color: #e6829f;
    font-size: 1.1rem;
    text-align: justify;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/*👉.hover-content h2 {
    font-size: 1.05rem;
    color: #e6829f;
    text-decoration: underline wavy 1.5px #f7a0b8;
    margin-bottom: 0.5rem;
}👈*/

.hover-content img {
    max-width: 100%;
    max-height: 15rem;
}



#contact {
    margin-bottom: 2rem;
}

#contact .contact-links {
    width: 65%;
    margin: 0 auto;
    margin-top: 5rem;
    /* background-color: cornflowerblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact .contact-links .contact-link {
    width: 7rem;
    height: 7rem;
    background-color: #f4ead9;
    border: 3px solid #e6829f;

    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .contact-links .contact-link a {
    text-decoration: none;
    color: #e6829f;
    font-size: 3.25rem;
    /* background-color: #5e7a53; */

    display: flex;
    align-items: center;
}


footer {
    width: 100%;
    background: url('./assets/bg.jpg');
    margin-top: 5rem;
    padding: 2rem 8rem;

    display: flex;
}

footer .logo {
    width: 45%;
    /* background-color: #5e7a53; */
    /* padding: 5rem; */
}

footer .logo img {
    /* width: 100%; */
    height: 15rem;
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

footer .links ul {
    list-style-type: none;
    line-height: 1.5;
}

footer .links ul a {
    color: #e6829f;
    text-decoration: underline wavy 1.5px #5e7a53;
}

footer .nav-links {
    width: 32.5%;
    /* background-color: aquamarine; */
}

footer .social-links {
    width: 32.5%;
    /* background-color: chocolate; */
}

#copyright {
    width: 100%;
    height: 2rem;
    /* padding: 0.5rem; */
    /* text-align: center; */
    letter-spacing: 2px;
    background-color: #f7a0b8;
    color: #faf5ec;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright a {
    text-decoration: underline wavy 1.5px #5e7a53;
    color: #5e7a53;
    transition: all 0.2s ease-in;
}
